<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OP_Macro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OP_Macro.Properties.Settings>
            <setting name="autoclickerHotkeyProperty" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="textHotkeyProperty" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="recordHotkeyProperty" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="replayHotkeyProperty" serializeAs="String">
                <value>117</value>
            </setting>
            <setting name="firstCoordHotkeyProperty" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="secondCoordHotkeyProperty" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="teleportHotkeyProperty" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="richText1HotkeyProperty" serializeAs="String">
                <value>119</value>
            </setting>
            <setting name="richText2HotkeyProperty" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="richText3HotkeyProperty" serializeAs="String">
                <value>121</value>
            </setting>
        </OP_Macro.Properties.Settings>
    </userSettings>
</configuration>